div{
    background: rgb(169,212,104);
    margin: 0 auto;
    padding: 50px;text-align: center;
    border: 50% double;
    width: 45%;
}

article  {
    border: double green;
    background: grey;
    padding: 40px 0px 100px 500px;
    margin: 20px 0px 10px 40px;
}

h3{
    font-size: 32px;
    }
p{
    font-size:  50px;
}
i{
    height: 40%;
}